* {
  box-sizing: border;
}
body {
  width: 500px;
  margin: 0,auto;
}
.square-1 {
    width: 100px;
    height: 100px;
    margin-left: 25px;
    margin-bottom:25px;
    background-color: purple;
    float: left;
}
.vert-rectangle-1 {
        width: 200px;
        height: 100px;
        margin-left: 25px;
        margin-bottom:25px;
        background-color: purple;
        float: left;
}
.horz-rectangle {
        width: 100px;
        height: 200px;
        margin-left: 25px;
        margin-bottom:25px;
        background-color: purple;
        float: left;
}
.Container {
        width: 100px;
        height: 100px;
        float: left;
