* {
  box-sizing: square;
}
body {
  margin: 10;
  background-color: purple;
}
.shape-board {
  width: 100px;
  height: : 100px;
}
.square-1 {
    width: 100px;
    height: 100px;
    background-color: purple;
    float: left;
}
.square-2 {
        width: 100px;
        height: 100px;
        background-color: purple;
        float: left;
}
.square-3 {
        width: 100px;
        height: 100px;
        background-color: purple;
        float: left;
}
.square-4 {
        width: 100px;
        height: 100px;
        background-color: purple;
        float: left;
}
.square-5 {
        width: 100px;
        height: 100px;
        background-color: purple;
        float: left;
}
.square-6 {
        width: 100px;
        height: 100px;
        background-color: purple;
        float: left;
}
.vert-rectangle-1 {
        width: 100px;
        height: 100px;
        background-color: purple;
        float: left;
}
.horz-rectangle {
        width: 100px;
        height: 100px;
        background-color: purple;
        float: left;
}
.horz-rectangle-2 {
        width: 100px;
        height: 100px;
        background-color: purple;
        float: left;
