* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #dddddd
}
.board {
  width: 800vw;
  margin: 50px auto;
}
.red {
  width: 10vw;
  height: 10vw;
  background-color: tomato;
  float: left;
}
.black {
  width: 10vw;
  height: 10vw;
  background-color: #222222;
  float: left;
}
