/* Step1: What do  want to style?
Step2: Type the selector
Step3: You want an open curly bracket and a closing cuely bracket
Step4: Type the property you want to change. Follow by a colon
Step5: type the value you want followed by a semi colon.
Step6: Repead steps 4 and 5 to style everything else. */

*{
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
  margin: 0;
}
header li{
  display: inline;
}
header nav{
  float: right;
}
header h1{
  float: left;
}
.About {
  font-size: 25px;
  float: right;
  margin-top: 40px;
  margin-right: 5px;
  font-weight: 700;
}
.Music {
  font-size: 25px;
  float: right;
  font-weight: 700;
}
.Tour {
  font-size: 25px;
  float: right;
  font-weight: 700;
}
.Home{
    font-size: 25px;
    float: right;
    font-weight: 700;
}
.follow{
  width: 50px;
  height: 50px;
}
li{
  font-size: 20px;
  color: white;
  margin: 10px;
  list-style-type: none;
}
a:hover{
color: red;
}
.nav{
  text-align: right;
  position: relative;
  top: -48px
}
  nav li {
      display: inline;
}
    .dates{
      float: left;
      margin-top: 10px;
      text-align: center;
      width: 965px;
      line-height: 35px;
      margin-left: 17px;
}
    .title{
      float: left;
      margin-top: 10px;
      text-align: center;
      width: 965px;
      line-height: 35px;
      margin-left: 17px;
      font-size:100px;
}
      .credits{
        float: left;
        width: 50px;
        height: 50px;
        font-size:50px;
