body {
  margin: 0;
  overflow-x: hidden;
}
main {
  width: 140;
  margin: -20vw;
}
.shape1 {
  width: 100px;
  height: 100px;
  background-color: tomato;
  float: left;
  margin: -5px;
  opacity: .75;
}
.shape2 {
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
  float: left;
  margin: -5px;
  opacity: .75;
}
.shape3 {
  width: 100px;
  height: 100px;
  background-color: gold;
  float: left;
  margin: -5px;
  opacity: .75;
}
