body {
  font-family: 'Public Sans', sans-serif;
  background-color: white;
}

header {
  width: 1209px;
  margin: 25px auto;
  margin-left: 100px;
  float: left;
}

.title {
  height: 353px;
  width: 1209px;
  font-size: 50px;
  float: left;
  font-family: Public+Sans;
}
h1 {
  color: black;
  font-family: Public+Sans;
  font-size: 80px;
  opacity: 100%;
}
h2 {
  color: black;
  font-family: Public+Sans;
  font-size: 40px;
  opacity: 100%;
}
h3 {
  color: black;
  font-family:Public+Sans;
  font-size: 30px;
  opacity: 100%;
}
* {
  box-sizing: border-box;
  margin: 20px auto;
}
  body {
    font-family: 'Markazi Text', serif;
    background-color: white;
  }
  header-2 {
    width: 1209px;
    margin: 25px auto;
    margin-left: 100px;
    float: left;
  }

  .title2 {
    height: 100px;
    width: 1209px;
    font-size: 50px;
    float: left;
    font-family: Markazi Text;
  }
  h-1 {
    color: black;
    font-family: Markazi Text;
    font-size: 80px;
    opacity: 100%;
  }
  h-2 {
    color: black;
    font-family: Markazi Text;
    font-size: 40px;
    opacity: 100%;
  }
  h-3 {
    color: black;
    font-family:Markazi Text;
    font-size: 30px;
    opacity: 100%;
  }
  @media screen and (max-width: 1100px) {
  main {
    max-width: 1100px;
    margin-left: 50px;
